.avatar-selector h3 {
  margin-bottom: 8px;
}

.avatar-grid {
  display: flex;
  gap: 12px;              
  flex-wrap: wrap;           
  justify-content: center;   
  align-items: center;       
  margin: 0 auto;   
}

.avatar-option {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid transparent;
  transition: transform 0.2s, border-color 0.2s;
}

.avatar-option:hover {
  transform: scale(1.1);
}

.avatar-selected {
  border-color: #4CAF50;
}

.icon-container {

}