:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffffff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(#D8B56A, #C8A951, #A33E2A);
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 2.5em;
  line-height: 1.1;
}

.chatbot-card {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  max-width: 500px;
  margin: 16px auto;
  text-align: center;
  background-image: url('assets/Ram.webp');
  background-size: cover;
  background-position: center;
}

.NavBar {
  display: flex;
  justify-content: center;
  align-items: center;    
  width: 100%;            
  padding: 10px 0;
  margin-top: 0;
  background-color: #000000;
  gap: 10px;
}
.Logo {
  height: 50px;
  width: auto;
  margin-right: 20px;
  align-items: left;
}
.Home, .Visit, .Map, .SupportUs, .Contact, .StartChat {
  background-color: #000000;
  color: #ffffff;
}

.ContactCard {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  max-width: 400px;
  margin: 16px auto;
  
  color:#000000;
  background-color: #f9f9f9;
}
.EmailLink {
  color: inherit;
  text-decoration: underline;
}

.SupportCard {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  max-width: 800px;
  margin: 16px auto;
  color:#000000;
  background-color: #f9f9f9;
}

.NotFound {
  text-align: center;
}

.VisitCard {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  max-width: 400px;
  margin: 16px auto;
  color:#000000;
  background-color: #f9f9f9;
}
.VisitContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.Galleries {
  color: inherit;
  text-decoration: underline;
}